@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f2f1f0;
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #020617;
  --foreground: #e2e8f0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), "Avenir Next", sans-serif;
}
